body {
	margin:0;
	padding:0;
	font-weight:100;
    text-transform:capitalize;
	font-family:Neutra;
	color:eeeeee;
	letter-spacing:1;
}

@font-face{
	font-family:Roboto;
	src:url(Robo.ttf);
}
@font-face{
	font-family:Neutra;
	src:url(Neutra.ttf);
}


#weekday{
       position:absolute; top:77%; left:0%; width:100%; text-align:center; z-index:100;
       font-size:12vw;
       line-height:100%;
	 font-family:Roboto; 
       -webkit-font-smoothing: antialiased;
}


#Clock{
       position:absolute; top:70%; left:0%; width:100%; text-align:center; z-index:50;
       font-size:14vw;
       font-family:Neutra;
       text-transform:lowercase;
        -webkit-font-smoothing: antialiased;
} 
#hour,#minute,#ampm{}

#Calendar{
       position:absolute; top:85.5%; left:0%; width:100%; text-align:center; z-index:50;
       font-size:4.5vw;
       font-family:Neutra;
       text-transform:lowercase;
       -webkit-font-smoothing: antialiased;
}
#month,#date,{}

