* {
	margin: 0;
	padding: 0;

	color: inherit;
	text-align: center ;
}

body {

	background: none ;
    background-size: cover;
    background-clip: border-box;

	font-family: Colfax-Thin;
	color : white ;

	-webkit-user-select:none;
    -webkit-text-size-adjust:none;

}

#simple-ui, #advanced-ui {
	position: fixed;
	width: 100%;
}

/* #### iPhone 4 #### */
@media (max-device-height: 480px) {
	#simple-ui, #advanced-ui {
		top:13%;
	}
}

/* #### iPhone 5/5s/5c #### */
@media (min-device-height: 568px) {
	#simple-ui, #advanced-ui {
		bottom:31%;
	}
}

/* #### iPhone 6/6s #### */
@media (min-device-width: 375px) {
	#simple-ui, #advanced-ui {
		bottom:29.3%;
	}
}

/* #### iPhone 6 Plus / 6s Plus #### */
@media (min-device-width: 414px) {
	#simple-ui, #advanced-ui {
		bottom:35%;
	}
}

@font-face {
	font-family: AgencyFB-Light;
	src: url('../Fonts/AgencyFB Light.ttf');
}

@font-face {
	font-family: Colfax-Thin;
	src: url('../Fonts/Colfax-Thin.otf');
}

@font-face {
	font-family: Colfax-Light;
	src: url('../Fonts/Colfax-Light.otf');
}