/* #### ALL DEVICES ### */

.time-text {
	font-family: AgencyFB-Light;
}

#hours-simple, #points-simple, #minutes-simple, #hours-advanced, #points-advanced, #minutes-advanced{
	display: inline;
}

/* SIMPLE UI */

#line-simple {
	background : white;
	margin-left: auto ;
	margin-right: auto ;
	opacity: 1;
	display: block ;
	width: 0;
	height: 1px;
}
#time-simple {
	display: -webkit-inline-box;
	margin-right: auto ;
	margin-left: auto ;
	z-index: 3;
	height: 98px;
}
#time-simple::after {
	content: attr(data-ampm) ;
}


/* ADVANCED UI */

#date_weather, #date_weather > table {
    margin: 0 auto;
}
#day-advanced {
	text-align: left ;
}
#month-advanced, .weatherCity, .weatherDesc {
	text-align: right ;
}
#weather-content {
	width: 60% ;
}
.weatherItem {
	background-size: cover;
}
.icon_temp {
	position: relative;
	display: -webkit-inline-box;
}
#line-advanced {
	background:white;
	margin-left: auto ;
	margin-right: auto ;
	opacity: 1;
	display: block ;
	height: 0px;
}
#time-advanced {
	height: 98px;
	display: -webkit-inline-box;
	margin-right: auto ;
	margin-left: auto ; 
	z-index: 3;
}

#time-advanced:after {
	content: attr(data-ampm) ;
}

/* ADVANCED (compact) : */

#date-advanced.compact {
	min-width: inherit;
}
#daynum-advanced.compact {
	text-align: left ;
}
#month-advanced.compact {
	text-align: center;
}


/* #### iPhone 4/5 #### */
@media (max-device-height: 568px) {

	.time-text {
		font-size: 83px;
	}

	/* SIMPLE UI */

	#day-simple {
		font-size: 14px;
	}
	#daynum-simple {
	    font-size: 28px;
	}
	#month-simple {
	    font-size: 14px;
	    margin-top: -5px;
	}

	#line-simple {
		margin-top: 7px;
		margin-bottom: 7px;
	}

	#time-simple::after {
		font-size: 22px;
		margin-left: 7px;
	}
	#points-simple {    
		margin-left: 7px;
		margin-right: 7px;
	}


	/* ADVANCED UI */

	#date-advanced {
		min-width: 109px;
	}
	#day-advanced {
		font-size: 14px ;
	}
	#daynum-advanced {
		margin-top: 5px ;
		font-size: 57px ;
	}
	#month-advanced {
		margin-top: -8px;
		font-size: 14px ;
	}

	#weather {
		min-width: 115px;
	}
	.weatherCity {
		margin-right: 4px;
		font-size: 17px;
	}
	.weatherTemp {
		margin-top: 26px ;
		font-size: 30px ;
	}
	.weatherItem {
		height: 69px;
		width: 69px;
	}
	.icon_temp {
		margin-left: 10px;
	}
	.weatherDesc {
		margin-right: 23px ;
		font-size: 10px ;
	}

	#line-advanced {
		margin-top: 7px;
		margin-bottom: 7px;
		max-width: 154px;
	}

	#time-advanced:after {
		font-size: 22px;
		margin-left: 7px;
	}
	#points-advanced {    
		margin-left: 7px;
		margin-right: 7px;
	}

}

/* #### iPhone 6/6s #### */
@media (min-device-width: 375px) {

	.time-text {
		font-size: 96px;
	}

	/* SIMPLE UI */

	#day-simple {
		font-size: 16px;
	}
	#daynum-simple {
	    font-size: 33px;
	}
	#month-simple {
	    font-size: 16px;
	    margin-top: -6px;
	}

	#line-simple {
		margin-top: 9px;
		margin-bottom: 9px;
	}

	#time-simple::after {
		font-size: 26px;
		margin-left: 8px;
	}
	#points-simple {    
		margin-left: 9px;
		margin-right: 9px;
	}


	/* ADVANCED UI */

	#date-advanced {
		min-width: 133px;
	}
	#day-advanced {
		font-size: 16px ;
	}
	#daynum-advanced {
		margin-top: 8px ;
		font-size: 67px ;
	}
	#month-advanced {
		margin-top: -9px;
		font-size: 16px ;
	}

	#weather {
		min-width: 135px;
	}
	.weatherCity {
		margin-right: 5px;
		font-size: 20px;
	}
	.weatherTemp {
		margin-top: 31px ;
		font-size: 36px ;
	}
	.weatherItem {
		height: 81px;
		width: 81px;
	}
	.icon_temp {
		margin-left: 9px;
	}
	.weatherDesc {
		margin-right: 26px ;
		font-size: 12px ;
	}

	#line-advanced {
		margin-top: 9px;
		margin-bottom: 9px;
		max-width: 180px;
	}

	#time-advanced:after {
		font-size: 27px;
		margin-left: 9px;
	}
	#points-advanced {    
		margin-left: 9px;
		margin-right: 9px;
	}

}

/* #### iPhone 6 Plus / 6s Plus #### */
@media (min-device-width: 414px) {

	.time-text {
		font-size: 108px;
	}

	/* SIMPLE UI */

	#day-simple {
		font-size: 18px;
	}
	#daynum-simple {
	    font-size: 36px;
	}
	#month-simple {
	    font-size: 18px;
	    margin-top: -8px;
	}

	#line-simple {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	#time-simple::after {
		font-size: 31px;
		margin-left: 12px;
	}
	#points-simple {    
		margin-left: 10px;
		margin-right: 10px;
	}


	/* ADVANCED UI */

	#date-advanced {
		min-width: 130px;
	}
	#day-advanced {
		font-size: 18px ;
	}
	#daynum-advanced {
		margin-top: 10px ;
		font-size: 75px ;
	}
	#month-advanced {
		margin-top: -12px;
		font-size: 18px ;
	}

	#weather {
		min-width: 150px;
	}
	.weatherCity {
		margin-right: 5px;
		font-size: 22px;
	}
	.weatherTemp {
		margin-top: 35px ;
		font-size: 40px ;
	}
	.weatherItem {
		height: 90px;
		width: 90px;
	}
	.icon_temp {
		margin-left: 10px;
	}
	.weatherDesc {
		margin-right: 30px ;
		font-size: 13px ;
	}

	#line-advanced {
		margin-top: 10px;
		margin-bottom: 10px;
		max-width: 200px;
	}

	#time-advanced:after {
		font-size: 31px;
		margin-left: 12px;
	}
	#points-advanced {    
		margin-left: 10px;
		margin-right: 10px;
	}

}